<form name="studentForm" novalidate>
	<div>
		<label>NAME</label>
		<div>
			<input type="text" id="txtName" name="txtName" ng-model="newStudent.name" required /> 
			<span ng-if="studentForm.txtName.$invalid"><font color="red">*</font></span>
		</div>
	</div>

	<div>	
		<label>MOBILE NO</label>
		<div>
			<input type="text" id="txtContactNo" name="txtContactNo" ng-model="newStudent.contactNo" ng-minlength="10" ng-maxlength="10"  ng-pattern="/^[0-9]*$/" required /> 
			<span ng-if="studentForm.txtContactNo.$invalid"><font color="red">*</font></span>
		</div>
	</div>

	<div>
		<label>EMAIL</label>
		<div>
			<input type="text" id="txtEmail" name="txtEmail" ng-model="newStudent.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]+$/" required /> 
			<span ng-if="studentForm.txtEmail.$invalid"><font color="red">*</font></span>
		</div>
	</div>
	
    <div>
        <div>		
            <button type="submit" id="btnAdd" name="btnAdd" ng-disabled="studentForm.$invalid" ng-Click="addStudent()" ng-if="!showUpdate">Add</button>			
			<button type="submit" id="btnUpdate" name="btnUpdate" ng-disabled="studentForm.$invalid" ng-Click="addStudent()" ng-if="showUpdate">Update</button>
        </div>
    </div>
</form>