<form name="viewStudentDetails">
	
	<div>
		<label>Search Student</label>
		<div>
			<input type="text" id="txtSearch" name="txtSearch" ng-model="searchText" />
		</div>
	</div>

	<div>
		<table>
			<thead>
				<tr>
					<th>NAME</th>
					<th>CONTACT NO</th>
					<th>EMAIL</th>
					<th>ACTION</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="student in studentList | filter:searchText">
					<td>{{ student.name }}</td>
					<td>{{ student.contactNo }}</td>
					<td>{{ student.email }}</td>
					<td> <a href="#/addStudent/{{student.id}}">Edit</a> | <a href="javascript:void(0)" ng-click="deleteStudent(student.id)">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</form>